swagger: '2.0'
info:
  version: '0.1'
  title: "PISA-lite"
  description: This is an API for getting PISA interaction interface data in JSON format.
  license:
    name: Apache 2.0
    url: https://github.com/PDBe-KB/pdbe-pisa-json/blob/main/LICENSE
host: pdbe-kb.org
basePath: /
schemes:
- https
consumes:
- application/json
produces:
- application/json
paths:
  /pisa/1cbs:
    x-summary: PISA output
    get:
      summary: Interaction interface data per PDB assembly entry
      responses:
        200:
          description: Successful Response
          schema:
            type: object
            items:
              $ref: '#/definitions/PISA'
definitions:
  PISA:
    title: PISA
    type: object
    properties:
      pdb_id:
        type: string
        example: "1cbs"
        description: "A PDB identifier in lower case"
      pisa_version:
        type: string
        example: "2.0.0"
        description: "The semantic version number of PISA"
      assembly:
        title: Assembly
        type: object
        properties:
          dissociation_energy:
            type: number
            format: float
            example: 0.21
            description: "[Maximal free energy of dissociation  (kcal/mol)]"
          dissociation_area:
            type: number
            format: float
            example: 11.2
            description: "[Dissociation Interface Area (A^2)]"
          accessible_surface_area:
            type: number
            format: float
            example: 13.4
            description: "[Accessible surface area  (A^2)]"
          buried_surface_area:
            type: number
            format: float
            example: 2.39
            description: "[Buried surface area (A^2)]"
          entropy:
            type: number
            format: float
            example: 0.1
            description: "[Entropy change at dissociation ]"
          entropy_zero:
            type: number
            format: float
            example: 0.02
            description: "[ground-level entropy change at dissociation]"
          interfaces:
            type: array
            items:
              $ref: '#/definitions/Interface'
    required:
      - pdb_id
      - assembly
  Interface:
    title: Interface
    type: object
    properties:
      interface_id:
        type: integer
        format: int32
        example: 1
        description: "Interface identifier"
      interface_area:
        type: number
        format: float
        example: 0.76
        description: "[Area of interface  (A^2)]"
      solvation_energy:
        type: number
        format: float
        example: 0.01
        description: "[Solvation energy (kcal/mol)]"
      p_value:
        type: number
        format: float
        example: 0.0005
        description: "[Probability that solvation energy gain for interface atom may be greater than binding energy]"
      stabilization_energy:
        type: number
        format: float
        example: 0.03
        description: "[Stabilisation energy (Kcal/mol)]"
      residues:
        type: array
        items:
          $ref: '#/definitions/Residue'
      bonds:
        type: array
        items:
          type: object
          properties:
            bond_type:
              type: string
              example: "H-bonds"
              description: "[Type of bond: Hydrogen bond (h-bonds), salt bridges (salt-bridges), disulfide bonds (ss-bonds), covalent bonds (cov-bonds), other contacts (other-bonds)]"
              enum: [
                "H-bond"
                ]
            atoms:
              type: array
              items:
                $ref: '#/definitions/Atom'
  Residue:
    title: Residue
    type: object
    properties:
      _atom_site.label_comp_id:
        type: string
        example: "CYS"
        description: "[residue name ]"
      _atom_site.label_seq_id:
        type: string
        example: "1"
        description: "[Sequence number]"
      solvation_energy:
        type: number
        format: float
        example: 0.01
        description: "[Solvation energy effect (kcal/mol]"
      accessible_surface_area:
        type: number
        format: float
        example: 1.12
        description: "[Accessible surface area (A^2)]"
      buried_surface_area:
        type: number
        format: float
        example: 0.46
        description: "[Buried surface area  (A^2)]"
  Atom:
    title: Atom
    type: object
    properties:
      _atom_site.id: 
        type: string
        example: "1"
        description: "[I am not sure what is this?]"
      _atom_site.label_seq_id:
        type: integer
        format: int32
        example: 1
        description: "[sequence number atom 1 (label)]"
      _atom_site.label_atom_id:
        type: string
        example: "CA"
        description: "[atomname ]"
